
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // USER DATA
    match /users/{userId} {
      // Allow any logged-in user to read user profiles. This is relaxed for debugging.
      allow read: if request.auth != null;
      // Allow users to update their own data (select fields).
      allow update: if request.auth != null && request.auth.uid == userId;
       // Admins can update any user's data.
      allow update: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    // PAGE CONTENT
    match /pages/{pageSlug} {
        // Anyone can read public pages
        allow read: if true;
        // Only admins can write/update pages
        allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }
    
    // SAVED COLORS
    match /users/{userId}/colors/{colorId} {
        // A user can read and write to their own colors subcollection.
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
